.blogCardWrapper{
    display: flex;
    flex-wrap:wrap;
}
.anchorFlex{
    margin: auto;
    text-decoration: none;
    display: flex;
    &:hover{
        text-decoration: none;
    }
}
.bodyContainer{
    display:flex;
    flex-direction: column;
    margin: 20px;
}
.blogHeader{
    display: flex;
}
.imageContainer{
    width: 20%;
    //margin: auto;
    margin-bottom: 20px;
}
.infoContainer{
    margin: 10px;
}
.controlsContainer{
    margin: 10px;

    .likeButton{
        background-color: greenyellow;
        margin: 0 5px;
        cursor: pointer;
    }
    .dislikeButton{
        background-color: hotpink;
        margin: 0 5px;
        cursor: pointer;
    }
}

.textContainer{

}
.coverStyle{
    height: 100%;
    width: 100%;
    object-fit: contain;
}