.bookCardContainer{
    display: flex;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    

}
.imageContainer{
    flex: 1;
    background-color: blue;
}

.coverStyle{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.detailsContainer{
    flex: 3;
    position: relative;
    background-color: greenyellow;
}
.title{

}
.rating{
    position: absolute;
    bottom: 0;
    right: 0;
}